/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$base-lila: #CFB4ED;

body {
  color: var(--gray);
}

h1 {
  font-family: 'Merienda One', cursive;
}

a {
  color: var(--purple);
}

.jumbotron {
  background-color: $base-lila;
  color: white;
  position: relative;
  overflow: hidden;

  @media (max-width: 575px) {
    &.temMenu {
      padding-bottom: 3.5em;
    }
  }

  h1, h2 {
    color: white;
    font-family: 'Merienda One', cursive;
  }

}

h2 {
  font-family: 'Cabin Sketch', cursive;
}

.btn {
  transition: background-color 500ms;
}

.btn-success {
  border-bottom: 3px solid green;

  &:active {
    border-bottom: 0;
    border-top: 3px solid green;
  }
}

.btn-secondary {
  border-bottom: 3px solid #222;

  &:active {
    border-bottom: 0;
    border-top: 3px solid #222;
  }
}

.btn-primary {
  border-bottom: 3px solid darkblue;

  &:active {
    border-bottom: 0;
    border-top: 3px solid darkblue;
  }
}

.btn-danger {
  border-bottom: 3px solid darkred;

  &:active {
    border-bottom: 0;
    border-top: 3px solid darkred;
  }
}
