/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --bbt-purple: #645cc1;
}

$base-lila: #CFB4ED;
$ease-in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000);

body {
  color: var(--gray);
}

h1 {
  font-family: 'Merienda One', cursive;
}

@media (max-width: 575px) {

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.4rem;
  }
}

a {
  color: var(--bbt-purple);
}

.jumbotron {
  background-color: $base-lila;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: white;
  position: relative;
  overflow: hidden;

  @media (max-width: 575px) {
    &.temMenu {
      padding-bottom: 3.5em;
    }
  }

  h1, h2 {
    color: white;
    font-family: 'Merienda One', cursive;
  }

}

h2 {
  font-family: 'Cabin Sketch', cursive;
}

footer {
  border-top: 2px solid $base-lila;
  padding: 2em 0;

  p {
    margin-bottom: 0;
  }
}

.btn {
  transition: background-color 500ms;
}

.btn-success {
  border-bottom: 3px solid green;

  &:active {
    border-bottom: 0;
    border-top: 3px solid green;
  }
}

.btn-secondary {
  border-bottom: 3px solid #222;

  &:active {
    border-bottom: 0;
    border-top: 3px solid #222;
  }
}

.btn-primary {
  border-bottom: 3px solid darkblue;

  &:active {
    border-bottom: 0;
    border-top: 3px solid darkblue;
  }
}

.btn-danger {
  border-bottom: 3px solid darkred;

  &:active {
    border-bottom: 0;
    border-top: 3px solid darkred;
  }
}

.btn-bbt {
  border: 1px solid $base-lila;
  color: $base-lila;
  display: block;

  &:active,
  &:hover {
    border-color: $base-lila;
    background-color: $base-lila;
    color: white; 
  }

}


.loading {
  color:var(--bbt-purple );
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  
  &::before {
    animation: motion 3s $ease-in-out-quart infinite;
    background-color: currentColor;
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
  }

}

@keyframes motion {
  0% {
    transform: translateX(0) scale(1)
  }
  25% {
    transform: translateX(-50px) scale(0.3)
  }
  50% {
    transform: translateX(0) scale(1)
  }
  75% {
    transform: translateX(50px) scale(0.3)
  }
  100% {
    transform: translateX(0) scale(1)
  }
}