/* You can add global styles to this file, and also import other style files */

$base-lila: #CFB4ED;

* {
  color: var(--gray);
}

h1 {
  font-family: 'Merienda One', cursive;
}


a {
  color: var(--purple);
}

.jumbotron {
  background-color: $base-lila;
  color: white;
  font-family: 'Merienda One', cursive;

  h1,h2 {
    color: white;
  }
}
