<header class="jumbotron" [ngClass]="{'temMenu': isLoggedIn()}">
  <div class="container">
    <h1>Chá da bebê Yasmin</h1>
    <h2>& da Vanessa e do Aarão 😄</h2>
    <nav *ngIf="isLoggedIn()">
      <bt-my-list></bt-my-list>
    </nav>
  </div>
</header>
<main class="container mb-4">
  <bt-toasts></bt-toasts>
  <router-outlet></router-outlet>
</main>
<footer *ngIf="isLoggedIn()">
  <div class="container">
    <button type="button" class="btn btn-outline-info float-right" (click)="sair()">Sair/Logout</button>
    <p>
      Em caso de dúvidas, sugestões ou problemas neste sistema me manda um <a href="https://api.whatsapp.com/send?phone={{phone}}" target="_blank">Whatsapp</a> ou <a href="mailto:vanessametonini@gmail.com">email</a>.
    </p>
  </div>
</footer>
