<h1>Lista de presentes</h1>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (activeIdChange)="mudouDeTab($event)">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Bebê</a>
    <ng-template ngbNavContent>
      <ol class="produtos">
        <li *ngFor="let produto of listaProdutos">
          <bt-produto 
          #thisProdutoComponent
          [produto]="produto"
          (reservaProduto)="reservarProduto(produto, thisProdutoComponent)"
            ></bt-produto>
        </li>
      </ol>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Mamãe</a>
    <ng-template ngbNavContent>
       <ol class="produtos">
        <li *ngFor="let produto of listaProdutos">
          <bt-produto 
          #thisProdutoComponent
          [produto]="produto"
          (reservaProduto)="reservarProduto(produto, thisProdutoComponent)"
          [reservando]="reservandoProdutos"
            ></bt-produto>
        </li>
      </ol>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Papai</a>
    <ng-template ngbNavContent>
       <ol class="produtos">
        <li *ngFor="let produto of listaProdutos">
          <bt-produto 
          #thisProdutoComponent
          [produto]="produto"
          (reservaProduto)="reservarProduto(produto, thisProdutoComponent)"
            ></bt-produto>
        </li>
      </ol>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Família</a>
    <ng-template ngbNavContent>
       <ol class="produtos">
        <li *ngFor="let produto of listaProdutos">
          <bt-produto 
          #thisProdutoComponent
          [produto]="produto"
          (reservaProduto)="reservarProduto(produto, thisProdutoComponent)"
            ></bt-produto>
        </li>
      </ol>
    </ng-template>
  </li>
</ul>
<div *ngIf="loadingProducts" class="loading">
  carregando presentes
</div>
<div [ngbNavOutlet]="nav"></div>
