.nav-tabs {
  border-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100vh;
  margin-bottom: 1em;
  overflow: auto;
}

.nav-item {
  margin-bottom: 0;
}

.nav-item .nav-link {
  border-radius: 0;
  border: 0;
  cursor: pointer;
  color: var(--gray);
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.6em;
  padding: .6rem 1.2rem;
  position: relative;
  text-align: center;
  transition: background-color 250ms;

  @media (max-width: 575px) {
    font-size: 1.4em;
  }

  &:after {
    background-color: var(--purple);
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 0%;
    transition: width 250ms ease-in;
  }

  &:active,
  &.active {
    border: 0;
    color: var(--purple);

     &:after {
      width: 100%;
    }
  }
  
  &:hover {
    background-color: rgba(207, 180, 237, 0.4);
    border: 0;
    color: var(--purple);

    &:after {
      width: 100%;
    }
  }

}

.produtos {

  display: grid;
  padding: 0;

  @media (min-width: 540px) {
    gap: 1em;
    grid-template-columns: repeat(2, 48%);
  }

  @media (min-width: 800px) {
    gap: 1.4em;
    grid-template-columns: repeat(3, 32%);
  }

  @media (min-width: 1200px) {
    gap: 1.6em;
    grid-template-columns: repeat(4, 23%);
  }

  li {
    list-style-type: none;

    @media (max-width: 540px) {
      border-bottom: 2px dashed #CFB4ED;
      padding: 2em;

      &:first-child {
        padding-top: 0;
      }
      
      &:last-child {
        border: 0;
        padding-bottom: 0;
      }
    }

  }

}
