<section class="my-list">

  <button class="abrir" type="button" (click)="toggleLista()">
    Minha lista de presentes 
    <span *ngIf="products.length == 1" class="itens">
      {{products.length}} item
    </span>
    <span *ngIf="products.length > 1" class="itens">
      {{products.length}} itens
    </span>
  </button>

  <div class="lista" [ngStyle]="{'display': isProductsVisible}">

    <button class="btn btn-bbt fechar" type="button" (click)="toggleLista(); toggleVerProduto()" title="Fechar" aria-label="Fechar">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <g fill="none" stroke="#6c757d" stroke-width="1">
          <path d="M2 14L14 2M2 2l12 12"/>
        </g>
      </svg>
    </button>

    <h3>Minha lista de presentes</h3>
    <a class="btn mb-4 btn-outline-info" (click)="toggleLista()" [routerLink]="['faq']">Informações de entrega</a>

    <article *ngIf="products.length == 0">
      <p>
        Olá {{userName}}! Você ainda não reservou um presente! 
      </p>
      <p>
        Confira a lista de presentes, fechando esta aba, e depois deslizando a tela para baixo.
      </p>
      <p>
        Clique em <strong>presentear</strong> caso queira reservar determinado item!
      </p>
    </article>

    <article *ngIf="products.length > 0">
      <p>Olá {{userName}}! Veja os itens que você já reservou para presentear:</p>

      <div class="list-and-detail">
        <ol [ngClass]="{'slideList': isOneProductVisible}">
          <li *ngFor="let produto of products">
            <a (click)="verUmProduto(produto)">{{produto.titulo}}</a> 
            <!-- <button class="remover" type="button" title="remover" (click)="removerLista(produto)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <g fill="none" stroke="#6c757d" stroke-width="2">
                  <path d="M2 14L14 2M2 2l12 12"/>
                </g>
              </svg>
            </button> -->
          </li>
        </ol>
  
        <section [ngClass]="{'slideList': isOneProductVisible}">
          <button class="btn btn-bbt" type="button" (click)="toggleVerProduto()"><</button>
          <bt-produto [produto]="produto" [myList]="true">
          </bt-produto>
        </section>

      </div>
    </article>

  </div>
</section>
