.my-list {
  color: var(--gray);
  bottom: -5px;
  left: 0;
  position: absolute;
  width: 100vw;

  @media (min-width: 375px) {
    left: unset;
    right: 0;
    width: auto;
  }

  @media (min-width: 575px) {
    right: 1rem;
  }

  h3 {
    color: var(--purple);
    font-family: 'Merienda One', cursive;
    margin-bottom: 1em;
  }

  .abrir {
    background-color: white;
    border: none;
    border-radius: 10px 10px 0 0;
    color: var(--gray);
    cursor: pointer;
    display: block;
    font-family: 'Merienda One', cursive;
    text-align: center;
    padding: 10px 20px;
    width: 100%;

    &:active,
    &:hover {
      color: var(--purple);
      box-shadow: 0 0 10px var(--purple);
    }

    &:focus {
      outline: none;
    }
  }

  .itens {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--purple);
    padding: 5px;
    border-radius: 3px;
    color: white;
    letter-spacing: .01em;
  }

  .fechar {
    border: 1px solid currentColor;
    color: #CFB4ED;
    display: block;
    float: right;
    margin-bottom: .5em;

    svg {
      position: relative;
      top: -2px;
      width: 18px;
    }

    svg g {
      stroke: #CFB4ED;
    }

    &:active,
    &:hover {
      background-color:#CFB4ED;
      color: white; 

      svg g {
        stroke: #FFF;
      }
    }

  }

  .remover {
    background-color: #efefef;
    border-radius: 50%;
    color: red;
    height: 28px;
    padding: 0;
    position: absolute;
    right: -12px;
    top: -12px;
    width: 28px;

    &:hover,
    &:active {
      background-color: pink;
    }

    svg {
      left: -6px;
      position: relative;
      width: 16px;
    }

    svg g {
      stroke: #F00;
    }
  }

  .lista {
    background-color: white;
    display: none;
    left: 0;
    min-height: 100vh;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;

    @media (min-width: 800px) {
      box-shadow: 0px 0 20px rgba(0,0,0,.3), -10px 0px 20px #CFB4ED;
      left: unset;
      max-width: 450px;
      right: 0;
      width: auto;
    }

  }

  ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  
  li {
    border: 1px dashed #CFB4ED;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 10px 10px 10px 15px;
    position: relative;

    @media (max-width: 799px) {
      width: calc(100% - 2em);
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
  }

  li a {
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    max-width: calc(100% - 30px);
    padding: 2px 8px;
    vertical-align: top;

    &:hover {
      background-color: powderblue;
      color: white;
      text-decoration: none;
    }
  }

}

.list-and-detail {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  width: 200vw;
  
  @media (min-width: 800px) {
    gap: 2em;
    width: calc(900px - 2em);
  }

  >ol, 
  >section {
    transition: transform ease 500ms;
  }

  section {
    overflow: auto;
  }

  .slideList {
    transform: translateX(-100%);

    @media (min-width: 800px) {
      transform: translateX(calc(-100% - 2em));
    }
  }
}