<div class="produto">
  <figure>
    <img
      [src]="produto.fotoUrl"
      [alt]="produto.titulo"
      width="150px"
      height="150px"
      >
    <figcaption>imagem ilustrativa</figcaption>
  </figure>
  <h3><strong>{{produto.quantidade}}</strong> {{produto.titulo}}</h3>
  <dl>
    <dt>Valores:</dt>
    <dd>de {{produto.valorMin | currency:'BRL'}} a {{produto.valorMax | currency:'BRL'}}</dd>
    <dt>Lojas:</dt>
    <dd>
      <ul>
        <li *ngFor="let loja of produto.lojas">
          <a [href]="loja.url" target="_blank">{{loja.nome}}</a>
        </li>
      </ul>
    </dd>
    <dt>Comentário:</dt>
    <dd>{{produto.descricao}}</dd>
  </dl>
  <section class="reserva">
    <button *ngIf="produto.status == statusProduto.livre" class="btn btn-success btn-lg" (click)="presentear(produto)">
      Presentear!
    </button>

    <button *ngIf="produto.status == statusProduto.reservado" class="btn btn-outline-danger btn-lg">
      Reservado para: 
    </button>

    <button *ngIf="produto.status == statusProduto.ilimitado" class="btn btn-primary btn-lg" (click)="presentear(produto)">
      Presentear!
    </button>

  </section>
</div>
