<div class="produto">
  <figure>
    <img
      [src]="produto.fotoUrl"
      [alt]="produto.titulo"
      width="150px"
      height="150px"
      >
    <figcaption>imagem ilustrativa</figcaption>
  </figure>
  <h3>
    <strong>
    {{
      produto.status == statusProduto.ilimitado
      ? '('+produto.status+') - '
      : produto.quantidade
    }}    
  </strong> 
    {{produto.titulo}}
  </h3>
  <dl>
    <dt>Valores:</dt>
    <dd>de {{produto.valorMin | currency:'BRL'}} a {{produto.valorMax | currency:'BRL'}}</dd>
    <dt>Lojas:</dt>
    <dd>
      <ul>
        <li *ngFor="let loja of produto.lojas">
          <a [href]="loja.url" target="_blank">{{loja.nome}}</a>
        </li>
      </ul>
    </dd>
    <dt>Comentário:</dt>
    <dd>{{produto.descricao}}</dd>
  </dl>
  <section class="reserva">

    <div class="popover fade bs-popover-top"
    [ngClass]="{'show': mensagemErro}"
    role="tooltip" (click)="closePopover()">
      <div class="arrow"></div>
      <div class="popover-body">
        {{mensagemErro}}
      </div>
    </div>

    <button 
      class="btn btn-lg"
      [ngClass]="{
        'btn-success': produto.status == statusProduto.livre,
        'btn-primary': produto.status == statusProduto.ilimitado,
        'btn-secondary btn-sm': produto.status == statusProduto.reservado
      }"  
      (click)="togglePresentear()"
    >
      {{
        produto.status == statusProduto.reservado
        ? "Reservado para: "+produto.user?.nome
        : "Presentear!"
      }}
    </button>

  </section>
</div>
