.produto {

  @media (min-width: 540px) {
    &:not(.myList){
      border-radius: 10px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
      padding: 1em 2em;
    }
  }

  &.myList {
    
    font-size: .9em;

    .reserva,
    figcaption { display: none; }

    figure img {
      height: 120px;
      width: 120px;
    }

    h3 {
      color: var(--gray);
      font-size: initial;
    }

    dt:first-of-type,
    dd:first-of-type {
      display: inline-block;
    }
    dd:first-of-type {
      padding-left: 5px;
    }

  }
  
}

figure {
  position: relative;
  text-align: center;

  figcaption {
    background-color: rgba(0,0,0,.3);
    border-radius: 0 0 4px 4px;
    bottom: 0;
    color: white;
    font-size: 0.8em;
    left: 0;
    padding: 2px 0;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0,0,0,.9);
    width: 100%;
  }
}

img {
  border-radius: 4px;
  height: 150px;
  object-fit: contain;
  width: 150px;
}

h3 {
  color: var(--purple);
}

.reserva {
  position: relative;
  display: flex;
  justify-content: center;

  .popover {
    box-shadow: -1px -3px 10px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute; 
    top: 0; 
    left: 0;
    will-change: transform; 
    transform: translate3d(0, -95%, 0); 
    width: 100%;

    &.show {
      transform: translate3d(0, -105%, 0); 
    }

    &.fade {
      transition: opacity .15s linear, transform .15s linear;
    }

    .arrow {
      left: 50%;
    }
    
  }
  
}
